@import url("https://fonts.googleapis.com/css?family=Varela+Round");

html {
    /*    box-sizing: border-box;*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    letter-spacing: 1.1px;
}

@media (max-width: 414px) {
    .menu {
        padding-left: 10px;
    }
}

body,
html {
    margin: 0;
    min-height: 100vh;
    background: #1c1d22;
    font-family: "Varela Round", sans-serif;
}

.menu {
    position: fixed;
    display: flex;
    margin: auto;
    height: 50px;
    list-style: none;
    padding-top: 10px;
}

.menu li {
    padding-top: 15px;
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
}

a {
    font-size: 22px;
    color: #777;
    text-decoration: none;
    \\transition: all 0.45s;
}

.menu li:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1.5s;
}

.menu li:hover a {
    color: #d94f5c;
    text-shadow: 1px 1px 2px black, 0 0 25px #d94f5c, 0 0 5px #d94f5c;
}

li a:not(:last-child) {
    margin-right: 30px;
}

@keyframes line {
    0% {
        background-position-x: 490px;
    }
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
    -webkit-column-gap: 2%;
    -moz-column-gap: 5%;
    /*    overflow: hidden;*/
    max-width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    margin-bottom: 150px;
}

.gallery img {
    display: block;
    margin: auto;
    max-width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
}

.gallery img:hover {
    opacity: 0.5;
    transition: 0.3s;
    /*    display words*/
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.smallpic img {
    float: left;
    max-width: 25%;
    object-fit: contain;
    opacity: 0.5;
}

.active,
.demo:hover {
    opacity: 1;
    transition: 1s;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 3%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 500px;
    /*    vertical-align: middle;*/
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.statement p {
    color: white;
    margin: center;
    text-align: center;
}

.about {
    /*    max-width: 80%;*/
    margin: 0 auto;
    min-height: 100vh;
}

.about h1 {
    max-width: 50%;
    color: white;
    /*    text-shadow: 1px 1px 2px black, 0 0 25px #7affe9, 0 0 5px #7affe9;*/
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}

.about p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px black;

    /* transition effect. not necessary */
    transition: .3s;
    width: 80%;
    max-width: 600px;
    margin: auto;
    color: white;
    overflow: hidden;
}

#me {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    box-shadow: 0px 0px 30px #7affe9, 0px 0px 5px white;
    width: 80%;
    max-width: 600px;
    /*    margin-bottom: 150px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}

#me:hover {
    opacity: 0.3;
    transition: 1s;
}

#intro {
    max-width: 50%;
    margin: 0 auto;
    padding: 30px;
    color: white;
}

.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*    transform: translate(0%, -10%);*/
    /*    background: #1c1d22 ;*/
}

.content {
    text-align: center;
    color: #777;
}

.social {
    margin: 0 10px;
    display: inline-block;
    padding: 5px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #777;
    overflow: hidden;
    transition: color .3s;
}

.social a {
    color: #1c1d22;
}

.social:hover {
    background: #d94f5c;
    cursor: pointer;
    box-shadow: 0px 0px 30px #d94f5c, 0px 0px 5px #d94f5c;
}

.social:hover a {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 5px white;
}

.project {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
    -webkit-column-gap: 2%;
    -moz-column-gap: 5%;
    /*    overflow: hidden;*/
    min-height: 100vh;
    margin-bottom: 150px;
}

.work img {
    display: block;
    margin: auto;
    width: 100%;
}

.work {
    box-shadow: 0px 0px 30px #7affe9, 0px 0px 5px white;
    padding: 10px;
    cursor: pointer;
    max-width: 400px;
    display: block;
    margin: auto;
    position: relative;
    min-height: 500px;
}

.project h3 {
    color: white;
    font-size: 20px;
    display: inline-block;
}

.project p {
    color: white;
    font-size: 15px;
}
