@import url("https://fonts.googleapis.com/css?family=Varela+Round");

html {
    /*    box-sizing: border-box;*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    letter-spacing: 1.1px;
}

@media (max-width: 414px) {
    .menu {
        padding-left: 10px;
    }
}

body,
html {
    width: 100%;
    height: auto;
    background: #1c1d22;
    font-family: "Varela Round", sans-serif;
}

.menu {
    display: flex;
    margin: 0 auto;
    height: 50px;
    list-style: none;
    padding-top: 10px;
    padding-left: 30px;
}

.menu li {
    padding-top: 15px;
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
}

a {
    font-size: 22px;
    color: #777;
    text-decoration: none;
    \\transition: all 0.45s;
}

.menu li:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1.5s;
}

.menu li:hover a{
    color: #d94f5c;
    text-shadow: 1px 1px 2px black, 0 0 25px #d94f5c, 0 0 5px #d94f5c;
}

li a:not(:last-child) {
    margin-right: 30px;
}

@keyframes line {
    0% {
        background-position-x: 490px;
    }
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
    -webkit-column-gap: 2%;
    -moz-column-gap: 5%;
    /*    overflow: hidden;*/
    max-width: 80%;
    margin: 0 auto;
}

.gallery img {
    display: block;
    margin: auto;
    max-width:100%;
}

.about h1 {
    max-width: 50%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #7affe9, 0 0 5px #7affe9;
    align-items: center;
    text-align: center;
    transform: translate(0%, 200%);
    margin: 0 auto;
}

.about p {
    max-width: 50%;
    margin: 0 auto;
    height: 50%;
    padding: 30px;
    color: white;
    transform: translate(5%, -100%);
    overflow: hidden;
}


#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    box-shadow: 0px 0px 30px #7affe9, 0px 0px 5px white;
}

#intro {
    max-width: 50%;
    margin: 0 auto;
    padding: 30px;
    color: white;
}

.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translate(0%, -10%);
}

.content {
    text-align: center;
    color: #777;
}

.social {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    line-height: 50px;
    border-radius: 50%;
    background: #777;
    overflow: hidden;
    transition: color .3s;
}

.social a {
    color: #1c1d22;
}

.social:hover {
    background: #d94f5c;
    cursor: pointer;
    box-shadow: 0px 0px 30px #d94f5c, 0px 0px 5px #d94f5c;
}

.social:hover a{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 5px white;
}

.github {
    max-width: 50%;
    margin: 0 auto;
    padding: 10%;
}

.github img {
    transform: translate(50%, 0%);
}
