.desp {
    color: white;
    width: 80%;
    margin: auto;
    display: block;
}

.desp * {
    padding-bottom: 10px;
}
.desp p {
    line-height: 2rem;
    width: 90%;
    margin: auto;
}

h1,
h4 {
    text-shadow: 1px 1px 2px black, 0 0 25px #7affe9, 0 0 5px #7affe9;
    width: 100%;
    margin: auto;
    text-align: center;
    font-weight: normal;
}


.display-container {
    margin-top: 20px;
    text-align: center;
}

.display-container img,
.display-container video{
/*    max-width: 10%;*/
    display: inline-flex;
    margin: auto;
    max-height: 250px;
    object-fit: cover;
}

.display-container iframe {
    height: 250px;
}

.mySlides {
    cursor: pointer;
}

.left {
    font-size: 40px;
    position: absolute;
    top: 50%;
    /*    left: 20%;*/
    transform: translate(0%, -50%);
}

.right {
    font-size: 40px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%, -50%);
}

@media only screen and (max-width: 768px) {
    .left {
        top: 60%;
        left: 0;
    }

    .right {
        top: 60%;
        right: 0;
    }
    
    .grid-item {
        width: 80%;
    }
}

@media only screen and (max-width: 575px) {
    .desp {
        width: 100%;
    }

    .desp p {
        width: 80%;
        margin: auto;
    }

    .left {
        top: 45%;
    }

    .right {
        top: 45%;
        right: 0%;
    }

    .display-container img,
    .display-container video,
    .display-container iframe {
        width: 80%;
        min-width: unset;
        min-height: unset;
    }
}

.github {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    min-width: 60px;
    font-size: 2rem;
}

.github:hover {
    text-shadow: 1px 1px 2px black, 0 0 16px #7affe9, 0 0 5px #7affe9;
}
